h4{
    text-decoration: underline;
}
.container-fluid{
background-image: url("../../assets/images/simon-berger-twukN12EN7c-unsplash.jpg");
background-repeat:no-repeat;
  background-size:100% 100%;
  width:100%;
  height:auto;
}
p{
    font-size: 40px;
}
h1{
    font-size: 50px;
}