<div class="contacts container text-center">
    <h1 class="text-black fw-bold text-decoration-underline">{{title}}</h1>
    <p class="text-white fw-bold display-6">In case of any issue,you can reach us through;</p>
    <div class="row py-4">
        <div class="col"><img src="../../assets/images/behance.png"></div>
        <div class="col"><img src="../../assets/images/dribble.png"></div>
        <div class="col"><img src="../../assets/images/flickr.png"></div>
        <div class="col"><img src="../../assets/images/pinterest.png"></div>
        <div class="col"><img src="../../assets/images/skype.png"></div>
        <div class="col"><img src="../../assets/images/stumble_upon.png"></div>
    </div>
    <h3 class="text-white fw-bold h1 py-2">Quote_Master</h3>
    <p class="text-white">Created by Dave<br>
        @ 2021
    </p>
</div>