<div class="contacts container text-center">
    <h1 class="text-black fw-bold">{{title}}</h1>
    <p class="text-white fw-bold">In case of any issue,you can reach us through;</p>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="col"><img src="../../assets/images/behance.png"></div>
            <div class="col"><img src="../../assets/images/dribble.png"></div>
            <div class="col"><img src="../../assets/images/flickr.png"></div>
            <div class="col"><img src="../../assets/images/pinterest.png"></div>
            <div class="col"><img src="../../assets/images/skype.png"></div>
            <div class="col"><img src="../../assets/images/stumble_upon.png"></div>
        </div>
        <div class="col-2"></div>
       
    </div>
</div>
