<div class="contacts container text-center">
    <h1 class="text-black fw-bold">{{title}}</h1>
    <p class="text-white fw-bold">In case of any issue,you can reach us through;</p>
    <div class="row py-4">
        <div class="col"><img src="../../assets/images/behance.png"></div>
        <div class="col"><img src="../../assets/images/dribble.png"></div>
        <div class="col"><img src="../../assets/images/flickr.png"></div>
        <div class="col"><img src="../../assets/images/pinterest.png"></div>
        <div class="col"><img src="../../assets/images/skype.png"></div>
        <div class="col"><img src="../../assets/images/stumble_upon.png"></div>
    </div>
    <p>Created by Dave<br>
        @ 2021
    </p>
</div>