<h1 class="py-4 text-primary text-center fw-bold text-decoration-underline">Create Quotes</h1>
<form>
    <div class="form-group">
        <label for="name">Author Name</label>
        <input type="text" name="authorname" required class="form-control" id="authorname">
    </div>
    <div class="form-group">
        <label for="name">Author Email</label>
        <input type="text" name="authoremail" required class="form-control" id="authoremail">
    </div>
    <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" name="quote" id="quote" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>