<div class="container text-center my-4">
    <h1 class="py-4 text-primary fw-bold text-decoration-underline">
        {{title}}
    </h1>
    <p class="text-white display-6">
        This platform helps to display famous life<br> 
        sayings and quotes about life that will inspire<br>
        positivity and good, happy feelings. Enjoy <br> 
        some inspirational life quote.It also allows one<br> 
        to also create a quote.Feel free to like or<br> 
        dislike a quote.
    </p>
    <button class="btn btn-primary btn-lg">Create Quote</button>
    <h3 class="text-white fw-bold h1 py-2">Quote_Master</h3>
</div>
